<div *ngIf="dataLoaded == false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<h4>Markalar</h4>
<ul class="list-group">
  <li [class]="getAllBrandClass()" routerLink="/cars">Tüm Arabalar</li>
  <li (click)="setCurrentBrand(brand)"
  routerLink="/cars/brand/{{brand.brandId}}"
  *ngFor="let brand of brands"
  [class]="getCurrentBrandClass(brand)">
  {{brand.brandName}}
</li>
</ul>

<h5 *ngIf="currentBrand" >{{currentBrand.brandName}} seçtiniz</h5>
