<div *ngIf="dataLoaded == false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<h4>Kiralamalar</h4>
<table *ngIf="dataLoaded == true" class="table table-striped">
  <thead>
    <tr>
      <th>Marka</th>
      <th>Model</th>
      <th>Günlük Fiyat</th>
      <th>Müşteri</th>
      <th>Email</th>
      <th>Şirket Adı</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
      <td>{{rental.brandName}}</td>
      <td>{{rental.carName}}</td>
      <td>{{rental.dailyPrice}}</td>
      <td>{{rental.firstName}} {{rental.lastName}}</td>
      <td>{{rental.email}}</td>
      <td>{{rental.companyName}}</td>
    </tr>
  </tbody>
</table>
